# ----------------------------------------------------------------------
# binary/object files
# ----------------------------------------------------------------------
*.o
*.obj
*.bin
*.elf
*.so
*.a
*.lib

# ----------------------------------------------------------------------
# dumps and listings
# ----------------------------------------------------------------------
*.lst
*.map
*.asm.o

# ----------------------------------------------------------------------
# os images
# ----------------------------------------------------------------------
*.img
*.iso
*.vmdk
*.qcow2
*.vdi

# ----------------------------------------------------------------------
# logs
# ----------------------------------------------------------------------
*.sym
*.gdb
*.log
*.d
*.dwo

# ----------------------------------------------------------------------
# emulator files
# ----------------------------------------------------------------------
qemu.log
bochsout.txt
parport.out
serial.log

# ----------------------------------------------------------------------
# system files
# ----------------------------------------------------------------------
*~
.directory
Thumbs.db
desktop.ini

# ----------------------------------------------------------------------
# IDE files
# ----------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
